// vim: set ft=json: 
{{- if eq .chezmoi.hostname "stone-ocean" }} 
[
    {
        "name": "bar1",
        "layer": "bottom",
        "output":
        [
            "DP-1"
        ],
        "include":
        [ 
            "~/.config/waybar/default-modules.json"
        ],
        "reload_style_on_change": true,
        "modules-left": 
        [
            "cpu",
            "memory",
            "temperature"
        ],
        "modules-center":
        [
            "idle_inhibitor"
        ],
        "modules-right": 
        [
            "tray",
            "power-profiles-daemon",
            "pulseaudio",
            "bluetooth",
            "clock"
        ]
    },
    {
        "name": "bar2",
        "layer": "bottom",
        "output":
        [
            "DP-2"
        ],
        "include":
        [ 
            "~/.config/waybar/default-modules.json"
        ],
        "reload_style_on_change": true,
        "modules-left": 
        [
            "cpu",
            "memory",
            "temperature"
        ],
        "modules-center":
        [
            "idle_inhibitor"
        ],
        "modules-right":
        [
            "tray",
            "power-profiles-daemon",
            "pulseaudio",
            "bluetooth",
            "clock"
        ]
    }
]
{{- else if eq .chezmoi.hostname "x-ex01-calibarn" }}
{
    "position": "top",
    "layer": "bottom",
    "include":
    [ 
        "~/.config/waybar/default-modules.json"
    ],
    "reload_style_on_change": true,
    "spacing": 0,
    "modules-left": [
        "battery",
        "cpu",
        "memory",
        "temperature",
        "power-profiles-daemon",
    ],
    "modules-center": [
    ],
    "modules-right": [
        "tray",
        "idle_inhibitor",
        "pulseaudio",
        "backlight",
        "network",
        "bluetooth",
        "clock"
    ]
}
{{- end }}
