// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// ────────────── Input Configuration ──────────────
//
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
  keyboard {
    xkb {
      layout "eu"
      options "caps:escape_shifted_capslock"
    }
  }
  touchpad {
    tap
    natural-scroll
  }
  warp-mouse-to-focus
  focus-follows-mouse max-scroll-amount="0%"
  disable-power-key-handling
}

// ────────────── Output Configuration ──────────────
//
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// Laptop

output "eDP-1" {
  mode "2256x1504@59.999"
  scale 1.333333
  transform "normal"
  position x=0 y=0
  background-color "#660033"
  backdrop-color "#660033"
}

// Desktop

output "DP-1" {
  position x=0 y=0
}

output "DP-2" {
  position x=2560 y=0
  transform "90"
  // hot-corners "off"
}

// ────────────── Keybindings ──────────────
//
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {

  Mod+Shift+Slash            { show-hotkey-overlay; }

  // ----- Applications -----
  Mod+Return                  hotkey-overlay-title="Terminal" { spawn "foot"; }
  Mod+Space                   hotkey-overlay-title="App Launcher" { spawn "fuzzel"; }
  // Mod+Shift+Return            hotkey-overlay-title="Browser" { spawn "librewolf"; }
  Mod+Alt+L                   hotkey-overlay-title="Lock Screen" { spawn "hyprlock"; }
  Mod+E                       hotkey-overlay-title="File Manager" { spawn "dolphin"; }
  // Mod+Shift+C                 hotkey-overlay-title="Colour Picker: hyprpicker" { spawn "hyprpicker"; }

  // ----- Audio Controls -----
  XF86AudioRaiseVolume        allow-when-locked=true { spawn "wpctl" "set-volume" "-l" "1" "@DEFAULT_AUDIO_SINK@" "5%+"; }
  XF86AudioLowerVolume        allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
  XF86AudioMute               allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  Mod+XF86AudioMute           allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  // ----- Brightness Controls -----
  XF86MonBrightnessUp         allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%+"; }
  XF86MonBrightnessDown       allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%-"; }
  Mod+XF86MonBrightnessDown   hotkey-overlay-title="Cycle wlsunset mode" allow-when-locked=true { spawn "killall" "-SIGUSR1" "wlsunset"; }

  // ----- Windows Motions -----
  Mod+O                       repeat=false { toggle-overview; }

  Mod+Q                       { close-window; }

  Mod+H                       { focus-column-left; }
  Mod+L                       { focus-column-right; }

  Mod+K                       { focus-window-or-workspace-up; }
  Mod+J                       { focus-window-or-workspace-down; }
    
  Mod+U                       { focus-workspace-up; }
  Mod+D                       { focus-workspace-down; }
  
  Mod+Shift+H                 { move-column-left; }
  Mod+Shift+L                 { move-column-right; }

  Mod+Shift+K                 { move-window-up-or-to-workspace-up; }
  Mod+Shift+J                 { move-window-down-or-to-workspace-down; }

  Mod+Shift+U                 { move-workspace-up; }
  Mod+Shift+D                 { move-workspace-down; }

  Mod+Tab                     { focus-workspace-previous; }

  Mod+BracketLeft             { consume-or-expel-window-left; }
  Mod+BracketRight            { consume-or-expel-window-right; }
 
  Mod+Grave                   { focus-monitor-next; }
  Mod+Shift+Grave             { move-column-to-monitor-next; }

  // ----- Windows Size -----
  Mod+F                       { maximize-column; }
  Mod+Ctrl+F                  { expand-column-to-available-width; }

  Mod+Shift+F                 { fullscreen-window; }

  Mod+R                       { switch-preset-column-width; }
  Mod+Minus                   { set-column-width "-10%"; }
  Mod+Equal                   { set-column-width "+10%"; }

  Mod+Shift+R                 { switch-preset-window-height; }
  Mod+Shift+Minus             { set-window-height "-10%"; }
  Mod+Shift+Equal             { set-window-height "+10%"; }

  Mod+Ctrl+R                  { reset-window-height; }

  Mod+C                       { center-column; }
  Mod+Ctrl+C                  { center-visible-columns; }

  Mod+V                       { toggle-window-floating; }
  Mod+Shift+V                 { switch-focus-between-floating-and-tiling; }

  Mod+W                       { toggle-column-tabbed-display; }

  Print                       { screenshot; }
  Ctrl+Print                  { screenshot-screen; }
  Alt+Print                   { screenshot-window; }

  Mod+Escape                  allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Mod+Shift+E                 { quit; }
  Ctrl+Alt+Delete             { quit; }

  Mod+Shift+P                 { power-off-monitors; }
}

//

spawn-at-startup "wlsunset" "-l" "48.8" "-L" "2.3"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

// ────────────── Layout Settings ──────────────
//
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout

layout {
  gaps 8 
  // center-focused-column "on-overflow"
  empty-workspace-above-first

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 0.95
  }

  preset-window-heights {}
  default-column-width {}

  focus-ring {
    // off
    width 1
    active-color "#ffd400"
    inactive-color "#505050"
    // active-gradient from="#80c8ff" to="#bbddff" angle=45
    // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  border {
    off
    width 2
    active-color "#ffc87f"
    inactive-color "#505050"
    // urgent-color "#9b0000"
    // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
    // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  /-shadow {
    // on
    // draw-behind-window true
    // softness 30
    // spread 5
    // offset x=0 y=5
    // color "#0007"
  }

  struts {
    left 2
    right 2
    top 2 
    bottom 2 
  }

  tab-indicator {
    width 8 
    gap 4
    place-within-column
    length total-proportion=0.99
    corner-radius 16
    gaps-between-tabs 4
    active-color "#ff80bf"
    inactive-color "#330022"
  }
}

// ────────────── Animation Settings ──────────────
//
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations

animations {}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

window-rule {
  geometry-corner-radius 6
  clip-to-geometry true
}

window-rule {
  match is-floating=false
  opacity 0.98
}

/-window-rule {
  match is-floating=false
  opacity 1.0
}

/-window-rule {
  match is-floating=true
  border {
    off
  }
  focus-ring {
    off
  }
}

window-rule {
  match app-id=r#"^waypaper$"#
  match app-id=r#"^Pinentry-gtk$"#
  match app-id=r#"^org.kde.dolphin$"#
  match app-id=r#"^org.pulseaudio.pavucontrol$"#
  match app-id=r#"^librewolf$"# title="^Picture-in-Picture$"
  match app-id=r#"^net.davidotek.pupgui2$"# // protonupqt
  match app-id=r#"^steam$"# // secondary steam windows
  match app-id=r#"^yad$"# // steamtinkerlaunch

  open-floating true
}

window-rule {
    match app-id=r#"^steam$"# title="^Steam$" // main steam window
    open-floating false
}

window-rule {
  match app-id=r#"^librewolf$"# title="YouTube"
  match app-id=r#"^librewolf$"# title="Nebula"
  opacity 1.0
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORM "wayland"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}

clipboard {
  disable-primary
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}
